nav
  ul
    li: a(href="index.html")
        i.fa.fa-circle-o
        span  Home
    li: a(href="#")
        i.fa.fa-circle-o
        span  History
    li
      input(id="nav-sub-toggle" type="checkbox")
      label(for="nav-sub-toggle")
        i.fa.fa-plus
        i.fa.fa-minus
        span  Shop
      ul#nav-sub
        li: a(href="#") Whisky
        li: a(href="#") Accessories
    li: a(href="#")
        i.fa.fa-circle-o
        span  About
    li: a(href="#")
        i.fa.fa-circle-o
        span  Contact
