extends components/boilerplate.jade

block php
  doctype html

block title
  title MACLEOD :: Company

block css
  link(rel="stylesheet" href="css/styles.css")


block content
  input(id="nav-toggle" type="checkbox")
  #wrapper
    include components/header
    include components/nav
    include pages/page-company
    include components/footer
    
block js
