extends components/boilerplate.jade

block php
  doctype html

block title
  title MACLEOD :: Enter

block css
  link(rel="stylesheet" href="css/styles.css")


block content
  #wrapper
    include pages/page-index
    
block js
