#public-container
  #public-landing
    #bottle-img
      img(src="img/bottle.png")
    section.public
      article
        h3 Give your guest the best from the highland
        p Order now and get discount on your first buy. Just tips 3 friends by adding  their email below!
        section.company-form
          form(action="order.html")
            input(class="input count" min="1" max="10" required="required" placeholder="Boxes" type="number" step="1" name="quantity")
            button(type="submit" class="btn")
              i.fa.fa-arrow-right
              span  Confirm and order    
  
  section.public-store
    article
      h4 Whisky glases
      hr
      p  Lorem ipsum dolor sit amet...
      img(src="img/glas.jpg")
      a(class="btn" href="#") Buy
    article
      h4 Whisky stones
      hr
      p  Lorem ipsum dolor sit amet...
      img(src="img/stones.png")
      a(class="btn" href="#") Buy
    article
      h4 Whisky glases
      hr
      p  Lorem ipsum dolor sit amet...
      img(src="img/glas.jpg")
      a(class="btn" href="#") Buy
    article
      h4 Whisky stones
      hr
      p  Lorem ipsum dolor sit amet...
      img(src="img/stones.png")
      a(class="btn" href="#") Buy
    article
      h4 Whisky glases
      hr
      p  Lorem ipsum dolor sit amet...
      img(src="img/glas.jpg")
      a(class="btn" href="#") Buy
    article
      h4 Whisky stones
      hr
      p  Lorem ipsum dolor sit amet...
      img(src="img/stones.png")
      a(class="btn" href="#") Buy

      
  section.public-story
    article
      h4 The story of Ducan MacCleod
      hr
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam corporis molestiae aliquam ullam esse maiores sunt accusantium in, voluptas mollitia, atque veritatis quia. Perferendis expedita, cumque veniam nesciunt ipsum. Facere.
      
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.      
      hr
      p fin
