#public-container
  #public-landing
    section.order
      article
        h3 One step left!
        p Fill in the form below to get super fast delivery!
        section.public-form
          form(action="order.html")
            input(class="input" type="email" autofocus required placeholder="Name")
            input(class="input" type="email" autofocus required placeholder="Billign address")
            input(class="input" type="email" autofocus required placeholder="E-mail address")
            button(type="submit" class="btn")
              i.fa.fa-arrow-right
              span  Confirm and send order
