#landing-container
  #login-container
    #login-header
      .logo
        h1 MACLEOD
        p IT CAN ONLY BE ONE
    #login-primary
      form(action="company.html")
        p Enter as company if you have a legitim alkoholpermission, or as a private person.
        input(class="input" type="text" autofocus required placeholder="Enter your company name")
        button(type="submit" class="btn")
          i.fa.fa-check
          span  Enter as company
    #login-secondary
      a(href="public.html" class="btn secondary")
        i.fa.fa-check
        span  Enter as private person
